.outContainer {
  width: 100%;
  height: 80vh;
}

.imageIcon {
  height: 70px;
  display: flex;
  width: inherit;
}

.imageIcon {

  path {
    fill: #FFFFFF;
  }
}

.iconRoot {
  text-align: center
}

.customDrawer {
  background-color: #0C0C0D;
  border: 1px solid #FFFFFF;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  height: 100%;
}